body {
  background-color: #f8f8f8;
}
.wrapper {
  background-color: #585858;
}
article .title {
  background-color: #ef6b00;
  color: #ffffff;
}
article .small-divider {
  background-color: #ffffff;
}
article .divider {
  background-color: #000000;
}
.outer-border {
  background-color: #585858;
  border-color: #ef6b00;
}
.inner-border {
  background-color: #f4cea8;
  border-color: #ef6b00;
}
#download .button {
  border-color: #ef6b00;
}
.sidebar .divider {
  background-color: #000000;
}
.sidebar li a:hover, .sidebar a:hover .sidebar_title{
  background-color: #f4cea8;
}
.sidebar li.active a{
  color: #ffffff;
  background-color: #ef6b00;
}
aside .button {
  border-color: #ef6b00;
}
aside .button:hover {
  background-color: #f4cea8;
}
aside .round-button {
  border-color: #ef6b00;
}
aside .round-button:hover {
  background-color: #f4cea8;
}