.display-none {
  display: none;
}
a:link, a:hover, a:active, a:visited {
  color: inherit;
  text-decoration: none;
}
body {
  position: relative;
}
img {
  width: 100%;
}
table {
  text-align: center;
  width: 100%;
}
.navbar {
  border: 0;
  border-radius: 0;
  padding: 15px 0px;
  margin-bottom: 0;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}
.wrapper {
  margin: 0px;
  padding: 10px 0px;
}
article a {
  text-decoration: underline;
}
article .title {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-style: none;
  padding-top: 30px;
  padding-bottom: 30px;
}
article .title h1 {
  padding-left: 20%;
}
article .small-divider {
  height: 1px;
  margin: 5px 0px;
  margin-left: 20%;
  width: 60%;
}
article .title h4 {
  padding-left: 30%;
}
.divider {
  height: 1px;
  margin: 10px 0px;
}
.outer-border {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: none solid solid;
  border-width: 4px;
}
.inner-border {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-style: none solid solid;
  border-width: 4px;
  margin: 0px 2px 2px;
}
#download .button {
  border-radius: 7px;
  border-style: solid;
  padding: 5px;
}
#dependencies a {
  color: #337ab7;
}
#dependencies a:hover {
  text-decoration: underline;
}
#demonstration p a {
  color: #337ab7;
}
#demonstration p a:hover {
  text-decoration: underline;
}
#demonstration table {
  margin: 20px auto;
}
#demonstration table th {
  text-align: center;
}
#demonstration table img {
  max-width: 500px;
}
#demonstration table .table-title{
  text-decoration: underline;
}
.terminal {
  background-color: #111111;
  border: 2px solid #111111;
  border-radius: 5px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 14px;
  margin: 20px 20px;
}
.terminal::before {
  content: "Terminal";
  background-color: #e5e4e2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.terminal li {
  color: #837e7c;
  padding-left: 8px;
}
.prompt::before {
  content: "user@bash:~$ ";
}
.prompt {
  color: #c5c4c2;
  font-weight: bold;
}
.program {
  background-color: #f8f8f8;
  border: 2px solid #111111;
  border-radius: 5px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 14px;
  margin: 20px 20px;
}
.program::before {
  content: attr(title);
  background-color: #e5e4e2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.program .comment {
  color: #008000;
}
.program .keyword {
  color: #0000ff;
}
.program .num {
  color: #ff0000;
}
.program .operator {
  color: #7e3517;
}
.program .string {
  color: #736f6e;
}
.program .type {
  color: #571b7e;
}
.program .var {
  color: #e56717;
}
.code-btn {
  background-color: #b5b4b2;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}
.code-btn:hover {
  background-color: #858482;
}
.sidebar {
  background-color: #f8f8f8;
  border-radius: 15px;
  padding-bottom: 10px;
  position: fixed;
  width: 20%;
}
.sidebar_title {
  border-radius: 15px 15px 0px 0px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.sidebar h3 {
  text-align: center;
}
.sidebar .divider {
  margin-top: 0px;
}
.sidebar ul {
  list-style-type: none;
  padding: 0px 10px;
}
.sidebar li {
  padding: 5px 0px;
}
.sidebar li a {
  display: block;
  margin: -5px -10px;
  padding: 5px 10px;
}
aside .button {
  background-color: #f8f8f8;
  border-width: 4px;
  border-style: solid;
  border-radius: 15px;
  padding: 5px;
  position: fixed;
  text-align: center;
  width: 100px;
}
aside .round-button {
  background-color: #f8f8f8;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
  margin-left: 16%;
  padding: 5px;
  position: fixed;
}
footer {
  background-color: #f8f8f8;
  padding-top: 10px;
  font-size: 11px;
  text-align: center;
}