.bg-python {
  /*background-color: #4aa02c;*/
  background: rgba(74, 160, 44, 0.9); /* Spring Green, 0.9 opacity */
  color: #ffffff;
}
.bg-vba {
  /*background-color: #6c2dc7;*/
  background: rgba(108, 45, 199, 0.9); /* Purple Amethyst, 0.9 opacity */
  color: #ffffff;
}
.bg-cpp {
  /*background-color: #fff380;*/
  background: rgba(255, 243, 128, 0.9); /* Corn Yellow, 0.9 opacity */
  color: #000000;
}
.bg-bash {
  /*background-color: #3d3c3a;*/
  background: rgba(61, 60, 58, 0.9); /* Iridium, 0.9 opacity */
  color: #ffffff;
}
.divider {
  height: 1px;
  margin: 10px 0px;
}
.spacer {
  height: 20px;
}